.gallery-content {
    padding: 24px;
}

.gallery-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 280px;
    width: 280px;
}

.gallery-image-container {
    padding: 8px;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    width: 300px;
    margin: 12px;
    position: relative;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2);
}

.gallery-image-small {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 130px;
    height: 130px;
}

.gallery-image-container-small {
    padding: 4px;
    background: #fff;
    border-radius: 1px;
    display: inline-block;
    height: 150px;
    width: 150px;
    margin: 6px;
    position: relative;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.2);
}

.image-detail {
    padding: 12px;
    border-radius: 2px;
}

.image-detail-meta {
    padding: 12px;
}

.submit {
    padding: 2%;
}

.btn-file {
    margin: 6px;
}

#upload-form {
    padding: 60px;
    margin: auto;
    width: 50%;
}

.upload-container {
    padding: 2%;
}

.drop-shadow {
    box-shadow: 0 10px rgba(0, 0, 0, 0.2), 0 5px 5px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
