.gallery-content {
    padding: 24px;
}

.gallery-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 280px;
    width: 280px;
}

.gallery-image-container {
    padding: 8px;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    width: 300px;
    margin: 12px;
    position: relative;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2);
}

.gallery-small {
    padding: 8px;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 150px;
    width: 150px;
    margin: 6px;
    position: relative;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.2);
}

.image-detail {
    padding: 12px;
    border-radius: 2px;
}

.image-detail-meta {
    padding: 12px;
}

.submit {
    padding: 2%;
}

.btn-file {
    margin: 6px;
}

#upload-form {
    padding: 60px;
    margin: auto;
    width: 50%;
}

.upload-container {
    padding: 2%;
}

.drop-shadow {
    box-shadow: 0 10px rgba(0, 0, 0, 0.2), 0 5px 5px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
