@using Microsoft.AspNetCore.Identity
@using AzureImageGallery.Data.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav flex-grow-1 justify-content-end">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-light btn btn-outline-light ml-2 mb-1"
                asp-area="" asp-page="" title="Manage">Hello @User.Identity.Name!
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light btn btn-outline-light ml-2 mb-1"
                asp-action="SignOut" asp-controller="User" title="">Sign Out
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light btn btn-outline-light ml-2 mb-1" asp-action="Register" asp-controller="User">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light btn btn-outline-light ml-2 mb-1" asp-action="Login" asp-controller="User">Login</a>
        </li>
    }
</ul>