@model SimpleImageGallery.Models.GalleryIndexModel

<div class="container body-content">
    <div class="row gallery-content">
        @foreach (var image in Model.Images)
        {
            <div class="gallery-image-container drop-shadow">
                <a asp-controller="Gallery" asp-action="Detail" asp-route-id="@image.Id">
                    <div class="gallery-image" style="background-image:url(@image.Url)"></div>
                </a>
            </div>   
        }
    </div>
</div>
