@model SimpleImageGallery.Models.GalleryIndexModel

<div class="container body-content">
    <div class="row gallery-content">
        @foreach (var image in Model.Images)
        {
            <div class="gallery-image-container">
                <div class="gallery-image" style="background-image:url(@image.Url)"></div>
            </div>
                @*<span>@image.Title</span> //remove after testing
                <ul>
                    @foreach (var tag in image.Tags)
                    {

                    <li>@tag.Description</li>
                    }
                </ul>*@
            
        }
    </div>
</div>
