@model SimpleImageGallery.Models.GalleryIndexModel

<div class="container body-content">
    <div class="gallery-content">
        @foreach (var iamge in Model.Images)
        {
            <div class="gallery-content"></div>
        }
    </div>
</div>
