@model SimpleImageGallery.Models.GalleryIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">

        <h1 style="text-align:center">Welcome to the Gallery</h1>
        <br/>
        <h3 style="text-align:center">See the most recent images uplaoded here!</h3>
        
        <div class="body-content">
            @if (Model != null)
            {
                @foreach (var image in Model?.Images)
                {
                    <div class="gallery-image-container drop-shadow">
                        <a class="img-responsive" asp-controller="Gallery" asp-action="Detail" asp-route-id="@image?.Id">
                            <div class="gallery-image" style="background-image:url(@image?.Url)"></div>
                        </a>
                    </div>
                }
            }
        </div>

        <br />

        <div class="row controls">
            <a class="btn btn-primary" asp-controller="Gallery" asp-action="Index">See the Gallery</a>
        </div>

    </div>
</div>

