@model SimpleImageGallery.Models.GalleryIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <h2>Welcome to the Gallery</h2>
        <br/>
        <h3>See the most recent images uplaoded here!</h3>
        <div class="gallery-small">
            @if (Model != null)
            {
                @foreach (var image in Model?.Images) 
                {
                  <a asp-controller="Gallery" asp-action="Detail" asp-route-id="@image?.Id">
                    <div class="gallery-image" style="background-image:url(@image?.Url)"></div>
                  </a>
                }
            }
        </div>
        <div class="btn btn-default">
            <a asp-controller="Gallery" asp-action="Index">See the Gallery</a>
        </div>
    </div>
</div>

